{% load static %}
<html lang="pt-br">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Fanfictions</title>
  </head>

  <style>
        .rosa{
          color: #dc3545;
        }
  </style>
  <body>
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{% static '1.png' %}" alt="Primeiro Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static '2.jpg' %}" alt="Segundo Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static '3.jpg' %}" alt="Terceiro Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static '4.png' %}" alt="Quarto Slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
          </div>


      <nav class="navbar navbar-expand-lg navbar-light bg-light">

          <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8000/"><h4><i class='rosa'>FANFICtions </i></h4><span class="sr-only">(página atual)</span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'category-detail' 1 %}">Fãns</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'category-detail' 2 %}">Autorais</a>
              </li>
             
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
              <input class="form-control mr-sm-2" name="q" type="text" placeholder="Pesquisa..." aria-label="Pesquisar">
              <button class="btn btn-danger my-2 my-sm-0" type="submit">Pesquisar</button>

            </form>
          </div>
        </nav>
        <a href="{% url 'login' %}">Click aqui para fazer o login</a>

    <div class="pt-2">

      {% for category in categorys %}
        <a href="{% url 'category-detail' category.pk %}">{{category.name}}</a>>
      {% endfor %}

    {% block content %}
    {% endblock %}

  </div>

  </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <div class="container">
      <img class="d-block w-100" src="{% static 'rodape.png' %}">
    </div>

  </body>
</html>