{% extends "blog/base.html" %}

{% block content %}

	<h3 class="my-4">{{ object.title }}</h3>
	Postado em: {{ object.created_at }} |
	Por: {{ object.author }} |
	Categoria: {{ object.category }}
    <p>{{ object.text|safe }}</p>
	
	<img src="{{object.banner.url}}" class="img-fluid">

	{% for comment in post.comments.all %}
	<p>
		<b>{{ comment.author }}</b>
		{{ comment.text }}
		{{ comment.created_at }}
	</p>
{% endfor %}

<form method="POST" action="{% url 'comment' object.id %}">
	{% csrf_token %}
		<textarea name="text">
		</textarea>
		<input type="submit" value="Comentar">
	</form>


{% endblock %}